/* Сброс */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    /* background-color: #000; */
    line-height: 1;
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ------------------ */
/* FONTS */
@font-face {
    font-family: 'Roboto-regular';
    /* 400 */
    src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-medium';
    /* 500 */
    src: url(./fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto-bold';
    /* 600 */
    src: url(./fonts/Roboto-Bold.ttf);
}

.container {
    width: 1920px;
}

/* HERO */
.hero {
    font-family: 'Roboto-regular', sans-serif;
    font-size: 16px;
    color: #fff;
    background-image: url(./img/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3% 5% 3% 15%;
}

.hero__logo {
    margin-right: 20%;
}

.hero__nav {
    display: flex;
    margin-bottom: 10%;
}

.hero__list {
    display: flex;
}

.hero__list-item {
    padding-top: 3%;
}

.hero__list-item:not(:last-child) {
    margin-right: 20%;
}

.hero__btn {
    margin-left: 35%;
    margin-top: 0.5%;
}

.hero__btn-link {
    padding: 10px 30px;
    border-radius: 50px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.hero__title {
    font-family: 'Roboto-bold', sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 140%;
    margin-bottom: 5%;
}

/*  TIMER */
.hero__timer {
    padding-bottom: 7%;
}

.countdown {
    font-family: 'Roboto-bold', sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    font-size: 36px;
    width: 500px;
}

.countdown-number {
    padding: 10px;
    border-radius: 3px;
    background: #121212;
    display: inline-block;
}

.countdown-time {
    padding: 15px;
    border-radius: 3px;
    background: #121212;
    display: inline-block;
}

.countdown-text {
    font-family: 'Roboto-regular', sans-serif;
    font-weight: 400;
    display: block;
    padding-top: 5px;
    font-size: 16px;
    opacity: .4;
}

.countdown-number:not(:last-child) {
    margin-right: 5%;
}

@media(max-width:1280px) {
    .container {
        width: 1280px;
    }

    .hero {
        font-size: 14px;
        background-image: url(./img/main.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 3% 5% 3% 10%;
    }

    .hero__logo {
        margin-right: 10%;
    }

    .hero__list-item:not(:last-child) {
        margin-right: 15%;
    }

    .hero__btn {
        margin-left: 33%;
        padding-top: .5%;
    }

    .hero__title {
        font-size: 54px;
        line-height: 140%;
        margin-bottom: 5%;
    }
}

/* PROGRESS */

.progress {
    font-family: 'Roboto-regular';
    width: 100%;
    display: flex;
    font-size: 16px;
    color: #fff;
    background-color: #121212;
    padding-top: 2%;
    padding-bottom: 1%;
}
.progress__btn{
    padding-right: 5%;
    padding-left: 16%;
}
.progress__btn-link {
    padding: 10px 30px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 50px;
}

.progress__items {
    display: flex;
    margin-right: 5%;
}
.progress__name{
    width: 210px;
    opacity: .4;
}
.progress__name-list {
    padding-right: 5%;
}

.progress__bar-name{
    display: flex;
    padding-bottom: 1%;
}
.progress__bar-name-title{
    opacity: .4;
    padding-right: 10%;
}

.progress__name-list-item:not(:last-child) {
    padding-bottom: 15px;
}

.progress__number-list-item:not(:last-child) {
    padding-bottom: 15px;
}

/* PROGRESS_BAR */

.progress__bar-block {
    width: 100%;
    width: 800px;
    height: 6px;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
}

.progress-bar {
    display: block;
    height: 100%;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    background-size: 300% 100%;
    animation: progress-animation 1s linear infinite;
    animation-direction: alternate-reverse;
}

@keyframes progress-animation {
    0% {
        background-position: 100%
    }

    100% {
        background-position: 0
    }
}
/* -------- */
@media(max-width:1280px){
    .progress__btn{
        padding: 0;
        padding-left: 11%;
        padding-right: 6%;

    }






    .progress__bar-block {
        width: 100%;
        width: 550px;
        height: 6px;
        background: #fff;
        border-radius: 3px;
        overflow: hidden;
    }
}