/* Сброс */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    /* background-color: #000; */
    line-height: 1;
    overflow-x: hidden;
    background-color: #000;
    color: #fff;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ------------------ */
/* FONTS */
@font-face {
    font-family: 'Roboto-regular', sans-serif;
    /* 400 */
    src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-medium', sans-serif;
    /* 500 */
    src: url(./fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto-bold', sans-serif;
    /* 600 */
    src: url(./fonts/Roboto-Bold.ttf);
}

.container {
    max-width: 1920px;
}

/* HERO */
.hero {
    font-family: 'Roboto-regular', sans-serif;
    font-size: 16px;
    background-image: url(./img/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3% 5% 3% 15%;
}

.hero__logo {
    margin-right: 20%;
}

.hero__nav {
    display: flex;
    margin-bottom: 10%;
}

.hero__list {
    display: flex;
}

.hero__list-item {
    padding-top: 3%;
}

.hero__list-item:not(:last-child) {
    margin-right: 20%;
}

.hero__btn {
    margin-left: 35%;
    margin-top: 0.5%;
}

.hero__btn-link {
    padding: 10px 30px;
    border-radius: 50px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.hero__title {
    font-family: 'Roboto-bold', sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 140%;
    margin-bottom: 5%;
}

/*  TIMER */
.hero__timer {
    padding-bottom: 7%;
}

.countdown {
    font-family: 'Roboto-bold', sans-serif;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    font-size: 36px;
    width: 500px;
}

.countdown-number {
    padding: 10px;
    border-radius: 3px;
    background: #121212;
    display: inline-block;
}

.countdown-time {
    padding: 15px;
    border-radius: 3px;
    background: #121212;
    display: inline-block;
}

.countdown-text {
    font-family: 'Roboto-regular', sans-serif;
    font-weight: 400;
    display: block;
    padding-top: 5px;
    font-size: 16px;
    opacity: .4;
}

.countdown-number:not(:last-child) {
    margin-right: 5%;
}

@media(max-width:1280px) {
    .container {
        width: 1280px;
    }

    .hero {
        font-size: 14px;
        background-image: url(./img/main.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 3% 5% 3% 10%;
    }

    .hero__logo {
        margin-right: 10%;
    }

    .hero__list-item:not(:last-child) {
        margin-right: 15%;
    }

    .hero__btn {
        margin-left: 33%;
        padding-top: .5%;
    }

    .hero__title {
        font-size: 54px;
        line-height: 140%;
        margin-bottom: 5%;
    }
}

/* PROGRESS */

.progress {
    font-family: 'Roboto-regular', sans-serif;
    width: 100%;
    display: flex;
    font-size: 16px;
    background-color: #121212;
    padding-top: 2%;
    padding-bottom: 1%;
}

.progress__btn {
    padding-right: 5%;
    padding-left: 16%;
    margin-top: 0.5%;
}

.progress__btn-link {
    padding: 10px 30px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 50px;
}

.progress__items {
    display: flex;
    margin-right: 5%;
}

.progress__name {
    width: 210px;
    opacity: .4;
}

.progress__name-list {
    padding-right: 5%;
}

.progress__bar-name {
    display: flex;
    padding-bottom: 1%;
}

.progress__bar-name-title {
    opacity: .4;
    padding-right: 10%;
}

.progress__name-list-item:not(:last-child) {
    padding-bottom: 15px;
}

.progress__number-list-item:not(:last-child) {
    padding-bottom: 15px;
}

/* PROGRESS_BAR */

.progress__bar-block {
    width: 100%;
    width: 800px;
    height: 6px;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
}

.progress-bar {
    display: block;
    height: 100%;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    background-size: 300% 100%;
    animation: progress-animation 1s linear infinite;
    animation-direction: alternate-reverse;
}

@keyframes progress-animation {
    0% {
        background-position: 100%
    }

    100% {
        background-position: 0
    }
}

/* -------- */
@media(max-width:1280px) {
    .progress__btn {
        padding: 0;
        padding-left: 11%;
        padding-right: 6%;
    }

    .progress__bar-block {
        width: 100%;
        width: 550px;
        height: 6px;
        background: #fff;
        border-radius: 3px;
        overflow: hidden;
    }
}

/* WHAT */
.what {
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
}

.what__img {
    margin-left: 16%;
    margin-right: 5%;
}

.what__content {
    margin-top: 5%;
}

.what__content-title {
    font-family: 'Roboto-bold', sans-serif;
    font-size: 48px;
    padding-bottom: 3%;
}

.what__content-text {
    font-family: 'Roboto-regular', sans-serif;
    width: 65%;
    font-size: 16px;
    line-height: 160%;
}

@media(max-width:1280px) {
    .what__img {
        margin-left: 11%;
        margin-right: 10%;
    }

    .what__img img {
        width: 350px;
    }

    .what__content {
        margin-top: 5%;
    }

    .what__content-title {
        font-size: 36px;
        padding-bottom: 3%;
    }

    .what__content-text {
        font-family: 'Roboto-regular', sans-serif;
        width: 75%;
        font-size: 14px;
        line-height: 150%;
    }
}

/* FAST */
.fast {
    margin-left: 15%;
    padding-bottom: 10%;
}

.fast__title {
    display: flex;
    margin-bottom: 2%;
}

.fast__title-main {
    font-family: 'Roboto-bold', sans-serif;
    font-size: 48px;
    font-weight: bold;
    padding-top: 1.7%;
}

.fast__text {
    font-family: 'Roboto-regular', sans-serif;
    opacity: 0.5;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 3%;
}

.fast__procent-item-number {
    font-family: 'Roboto-bold', sans-serif;
    font-size: 36px;
}

.fast__procent-item-text {
    font-family: 'Roboto-regular', sans-serif;
    font-size: 14px;
    opacity: .5;
    line-height: 160%
}

.fast__procent-list {
    display: flex;
}

.fast__procent-item-number,
.fast__procent-item-text {
    display: block;
}

.fast__procent-item {
    width: 20.1%;
}

.fast__procent-item-text {
    width: 75%;
}

.fast__procent-item-number {
    padding-bottom: 150px;
}

.fast__procent-list {
    background-image: url(./img/progress.png);
    background-repeat: no-repeat;
    background-position-y: 40px;
}

@media(max-width:1280px) {
    .fast {
        margin-left: 11%;
        margin-right: 10%;
    }

    .fast__text {
        font-size: 14px;
    }

    .fast__procent-item {
        width: 24%;
    }

    .fast__procent-item-text {
        font-size: 11px;
        line-height: 140%
    }

    .fast__procent-item-number {
        padding-bottom: 100px;
    }

    .fast__title-img img {
        width: 85%;
    }

    .fast__title-main {
        font-size: 36px;
        padding-top: 2.7%;
    }

    .fast__procent-list {
        background-size: 90%;
    }
}

/* FAST */
.prof {
    text-align: center;
    padding-bottom: 10%;
}

.prof__card {
    display: flex;
    justify-content: space-around;
}

.prof__title {
    font-family: 'Roboto-bold', sans-serif;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 5%;
}

.prof__card-left,
.prof__card-middle,
.prof__card-right {
    width: 17%;
}

.prof__card-left-title,
.prof__card-middle-title,
.prof__card-right-title {
    font-family: 'Roboto-medium', sans-serif;
    font-size: 24px;
    line-height: 140%;
    padding-bottom: 3%;
}

.prof__card-left-text,
.prof__card-middle-text,
.prof__card-right-text {
    font-family: 'Roboto-regular', sans-serif;
    font-size: 16px;
    line-height: 140%;
}

.prof__card-left-img,
.prof__card-middle-img,
.prof__card-right-img {
    padding-bottom: 10%;
}

@media(max-width:1280px) {
    .prof__title {
        font-size: 34px;
    }

    .prof__card-left,
    .prof__card-middle,
    .prof__card-right {
        width: 19%;
    }

    .prof__card-left-title,
    .prof__card-middle-title,
    .prof__card-right-title {
        font-size: 18px;
        line-height: 140%;
        padding-bottom: 7%;
    }

    .prof__card-left-text,
    .prof__card-middle-text,
    .prof__card-right-text {
        font-size: 13px;
        line-height: 130%;
    }
}

/* PARTNER */
.partner {
    margin-left: 15%;
    padding-bottom: 10%;
}

.partner__title {
    display: flex;
    margin-left: 2%;
    margin-bottom: 3%;
}

.partner__title-text {
    font-family: 'Roboto-bold', sans-serif;
    font-weight: bold;
    font-size: 48px;
}

.partner__grid-top,
.partner__grid-bottom {
    text-align: left;
}

.partner__grid-top img {
    padding: 0 50px 20px 50px;
}

.partner__grid-bottom img {
    padding: 20px 50px 0 50px;
}

@media(max-width:1280px) {
    .partner {
        margin-left: 11%;
    }

    .partner__title {
        margin-left: 0;
    }

    .partner__title-img img {
        width: 70%;
    }

    .partner__title-text {
        font-size: 36px;
    }

    .partner__grid-top img {
        width: 10%;
    }

    .partner__grid-top img:first-child {
        padding-left: 0;
    }

    .partner__grid-bottom img:first-child {
        padding-left: 0;
    }

    .partner__grid-bottom img {
        width: 10%;
    }
}

.programm {
    font-family: 'Roboto-regular', sans-serif;
    padding-bottom: 10%;
}

.programm__title-img {
    margin-bottom: 3%;
}

.programm__title {
    text-align: center;
}

.programm__title-text {
    font-family: 'Roboto-bold', sans-serif;
    font-weight: bold;
    font-size: 48px;
    padding-bottom: 3%;
}

.programm__title-content {
    font-size: 16px;
    line-height: 160%;
    opacity: .5;
    padding-bottom: 5%;
}

.programm__week {
    text-align: center;
    background-image: url(./img/timeline.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.programm__list-item-left {
    width: 49.9%;
    text-align: right;
    background-image: url(./img/line.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
}

.programm__list-item-title {
    padding-bottom: 7px;
}

.programm__list-item-left .programm__list-item-title {
    padding-right: 50px;
}

.programm__list-item-left .programm__list-item-text {
    padding-right: 50px;
}

.programm__list-item-title {
    font-size: 14px;
    opacity: .5;
}

.programm__list-item-text {
    font-size: 18px;
    line-height: 160%;
}

.programm__list-item-right {
    width: 25%;
    margin-left: 50.15%;
    text-align: left;
    background-image: url(./img/line.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left;
}

.programm__list-item-right .programm__list-item-title {
    padding-left: 50px;
}

.programm__list-item-right .programm__list-item-text {
    padding-left: 50px;
}

@media(max-width:1280px) {
    .programm__title-text {
        font-size: 36px;
    }
}

/* TEACHER */
.teacher {
    font-family: 'Roboto-regular', sans-serif;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 15%;
}

.teacher__title {
    display: flex;
    padding-bottom: 7%;
}

.teacher__title-img {
    padding-right: 3%;
}

.teacher__title-text {
    font-family: 'Roboto-bold', sans-serif;
    font-size: 48px;
    font-weight: bold;
}

.teacher__card {
    display: flex;
    justify-content: space-around;
}

.teacher__card-left,
.teacher__card-middle,
.teacher__card-right {
    text-align: center;
}

.teacher__card-left-img,
.teacher__card-middle-img,
.teacher__card-right-img {
    padding-bottom: 10%;
}

.teacher__card-left-title,
.teacher__card-middle-title,
.teacher__card-right-title {
    font-family: 'Roboto-medium', sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 7%;
}

.teacher__card-left-text,
.teacher__card-middle-text,
.teacher__card-right-text {
    font-size: 16px;
    opacity: .8;
    padding-bottom: 15%;
}

.teacher__card-left-btn,
.teacher__card-middle-btn,
.teacher__card-right-btn {
    font-size: 16px;
    border: 1px solid #fff;
    padding: 10px 35px;
    border-radius: 35px;
}

@media(max-width:1280px) {
    .teacher__title-text {
        font-size: 36px;
    }
}