@media(max-width: 1024px){
	body{
		max-width: 1024px;
	}
	/*!----- Меню -----*/
	.menu{
		display: none;
	}
	.menu-tablet{
		display: flex;
		position: relative;
		background-color: #000;
		justify-content: space-between;
		padding: 29px 50px;
	}
	.menu-tablet-burger{
		width: 36px;
	}
	
	.menu-tablet-nav{
		width: 35%;
		top: 100px;
		left: 0;
		position: absolute;
		color: #fff;
		transition: 1000ms;
		background-color: rgba(0, 0, 0, 0.8);
		opacity: 0;
		visibility: hidden;
	}

	.visible{
		opacity: 1;
		visibility: visible;
	}
	.menu-tablet-list{}
	.menu-tablet-item:first-child{
		margin-top: 15px;
	}
	.menu-tablet-item{
		margin-left: 50px;
		margin-bottom: 30px;
		font-size: 20px;
	}
	.menu-tablet-item:last-child{
		margin-top: 100px;
		margin-left: 30px;
	}
	.menu-tablet-link{
		padding-bottom: 3px;
	}
	.menu-tablet-link:hover{
		border-bottom: 2px solid #9D5CD0;
		transition: 400ms;
	}
	.menu-tablet-logo{
		width: 188px;
		height: 42px;
	}
	.menu-nav-sign{
		padding: 11px 31px;
		border: 2px solid #9D5CD0;
		border-radius: 100px;
	}
	.downmenu{
		display: none;
	}
/*!------- HERO -------*/
	.hero{
		background-image: url('/Blanchard/img/hero_1024.jpg');
		font-size: 18px;
		padding: 0 50px;
	}

	.hero-title{
		width: 65%;
		font-size: 72px;
	}
	.hero-text{
		width: 80%;
	}
	.hero-link{
		margin-bottom: 100px;
	}
/*!------- ABOUT -------*/
	.about{
		padding: 80px 50px;
	}
	.about-text{
		width: 100%;
	}
}