@media (max-width: 1920px) {
	body{
		max-width: 1920px;
	}
	/*!----- Меню -----*/
	.menu-tablet{
		display: none;
	}
	.menu{
		background-color: #000;
		font-size: 18px;
		color: #fff;
		display: flex;
		padding: 30px 159px;
	}
	.menu-logo{
		margin-right: 179px;
	}
	.menu-nav{
		display: flex;
		align-items: center;
		
	}
	.menu-nav-list{
		display: flex;
	}
	.menu-nav-item:not(:last-child){
		margin-right: 62px;
	}
	.menu-nav-item:nth-last-child(-n+2){
		margin-right: 0;
	}
	.menu-nav-item:last-child{
		margin-left: 441px;
	}
	.menu-nav-sign::before{
		padding-right: 7px;
		content: url('/Blanchard/img/sign.svg');
	}
	/*!----- ДОП Меню -----*/
	.downmenu{
		width: 100%;
		color: #fff;
		position: absolute;
		font-weight: 400;
		font-size: 18px;
	}
	.downmenu-list{
		display: flex;
		width: 100%;
		padding: 23px 158px 25px 159px !important;
		background-color: rgba(0, 0, 0, 0.4);
	}
	.downmenu-item::after{
		content: url('/Blanchard/img/downmenu_arr.svg');
	}
	.downmenu-item:not(:first-child,:last-child){
		margin-left: 96px;
	}
	.downmenu-item:last-child{
		margin-left: 360px;
	}
	.downmenu-item-last{
		background-image: url('/Blanchard/img/search.svg');
		background-repeat: no-repeat;
		background-size: 25px;
		background-position-y: center;
		padding-left: 30px;
		margin-left: 310px;
	}
	.downmenu-item-input{
		border: none;
		background-color: rgba(0, 0, 0, 0);
		border-bottom: 1px solid rgba(255, 255, 255, 0.85);
		padding-right: 20px;

	}
	.downmenu-item-input::placeholder{
		color: rgba(255, 255, 255, 0.85);
		font-size: 18px;
	}
	/*!------- HERO -------*/
	.hero{
		font-family: 'OpenSansBold';
		color: #fff;
		background-image: url('/Blanchard/img/hero_1920.jpg');
		background-position-y: -90px;
		padding: 0 159px;
	}

	.hero-title{
		width: 36%;
		padding-top: 150px;
		margin-bottom: 20px;
		font-size: 72px;
		line-height: 85px !important;
	}
	.hero-text{
		width: 35%;
		margin-bottom: 92px;
		font-size: 18px;
		line-height: 30px;
	}
	.hero-link{
		padding: 25px 45px;
		border: none;
		border-radius: 100px;
		color: #fff;
		background-color: #9D5CD0;
		margin-bottom: 115px;
	}
/*!------- ABOUT -------*/
	.about{
		padding: 80px 160px;
	}
	.about-title{
		margin-bottom: 16px;
	}
	.about-text{
		width: 68%;
		line-height: 2em;
	}
/*!------- Gallery -------*/
	.gallery{
		padding: 80px 160px;
		background-image: url(/Blanchard/img/gallery_1920.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		color: #fff;
	}
	.gallery-title{
		color: #fff;
	}
	.gallery-items{
		display: flex;
	}
	.gallery-left-word{
		font-family: "OpenSansBold";
		display: block;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.gallery-left-select{
		position: relative;
		display: inline-block;
		color: #fff;
		background-color:rgba(0, 0, 0, 0);
		padding: 3px 304px 5px 16px;
		margin-bottom: 180px;
		margin-right: 50px;
		border-radius: 6px;
		appearance: none;
		overflow: hidden;
		background: url('/Blanchard/img/downmenu_arr.svg');
		background-repeat: no-repeat;
		background-position-y: center;
		background-position-x: 375px;
	}
	.gallery-left-select::after{
		padding-right: 30px;
	}
/** Slider */
	.gallery-right{
		position: relative;
	}
	.gallery-slider{
		width: 1150px !important;
	}
	.gallery-slider-block{
		display: flex !important;
	}
	.gallery-slider-img:not(:first-child){
		margin-left:50px !important;
	}
	.slider .slick-arrow.slick-prev{
		top: -50px;
		left: 0;
	}
	.slider .slick-arrow.slick-next{
		top: -50px;
		left: 100px;
	}
	.slick-prev::before{
		content: url("/Blanchard/img/gallery_arrow_left.svg")
	}
	.slick-next::before{
		content: url("/Blanchard/img/gallery_arrow_right.svg")
	}
	.gallery-slider-number{
		display: block;
		position: absolute;
		top: -58px;
		left: 48px;
	}
/** Checkbox */
	.gallery-left-1chbx,
	.gallery-left-2chbx{
		margin-bottom: 10px;
	}
	.gallery-left-1chbx,
	.gallery-left-2chbx,
	.gallery-left-3chbx{
		display: flex;
		align-items: center;
	}
	.gallery-custom {
		position: relative;
		width: 12px;
		height: 12px;
		border: 1px solid #fff;
		margin-right: 8px;
	}
	.activ-border{
		border: 1px solid #C283F3;
	}
	.activ-color{
		color: #C283F3;
	}
	.gallery-custom::before {
		content: "";
		position: absolute;
		display: none;
		width: 4px;
		height: 4px;
		background-color: #C283F3;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 100px;
	}
	.gallery-left-1chbx input:checked ~ .gallery-custom::before {
		display: block;
	}
	.gallery-left-2chbx input:checked ~ .gallery-custom::before {
		display: block;
	}
	.gallery-left-3chbx input:checked ~ .gallery-custom::before {
		display: block;
	}
	.gallery-checkbox{
		display: none;
	}
	
	.gallery-slider1024,
	.gallery-slider1024-number,
	.gallery-slider320,
	.gallery-slider320-number{
		display: none;
	}
/*!------- CATALOG -------*/
	.catalog{
		padding: 80px 160px;
	}
	.catalog-title{
		margin-bottom: 16px;
	}
	.catalog-text{
		width: 65%;
		margin-bottom: 50px;
		font-size: 16px;
		line-height: 32px;
	}
	.catalog-sides{
		display: flex;
	}
	.catalog-left{
		width: 800px;
		margin-right: 50px;
	}
	.catalog-left-img{
		width: 100%;
		margin-bottom: 30px;
	}
	.catalog-left-title{
		font-size: 24px;
		margin-bottom: 15px;
	}
	.catalog-left-subtitle{
		font-size: 12px;
		color: #999999;
		margin-bottom: 10px;
	}
	.catalog-left-text{
		font-size: 16px;
		line-height: 32px;
		width: 97%;
	}
	.catalog-right{
		width: 800px;
	}
	.accordion-body-block{
		display: flex;
		justify-content: space-between;
	}
	.accordion-body-item{
		font-size: 16px;
		line-height: 32px;
	}
	.accordion-item{
		border: none;
	}
	.accordion-header{
		border-top: 1px solid #CACACA;
	}
	#headingSeven{
		border-bottom: 1px solid #7943A4;
	}
	.accordion-button{
		padding-top: 32px;
		padding-bottom: 32px;
		box-shadow: none !important;
		border-bottom: none;
	}
	
	.accordion-button:focus{
		border-color: inherit;
	}
	.accordion-button:not(.collapsed){
		background-color: #fff;
		color: #7943A4;
		
	}
	.accordion-button::after {
		background-image: url(/Blanchard/img/catalog_arrow.svg);
		background-position: center center;
		width: 50px;
		height: 50px;
		border-radius: 100px;
		border: 2px solid #fff;
		background-color: #ECECEC;
	}
	.accordion-button:not(.collapsed)::after {
		background-image: url(/Blanchard/img/catalog_arrow.svg);
		background-position: center center;
		width: 50px;
		height: 50px;
		border-radius: 100px;
		border: 2px solid #9D5CD0;
		background-color: #D1A9F0;
	}
	.accordion-button{
		border-bottom: 1px solid #7943A4;
	}
	.collapsed{
		border-bottom: none;
	}
	#headingSeven{
		border-bottom: none;
	}
	.accordion1024-body-list{
		display: none;
	}
	.last-btn{
		border-bottom: 1px solid #CACACA;;
	}
	#headingOne{
		border-top: 1px solid #7943A4;
	}

	.border-pink{
		border-top: 1px solid #7943A4 !important;
	}
	.border-gray{
		border-top: 1px solid #CACACA !important;
		;
	}
/*!------- EVENTS -------*/
	.events{
		padding: 80px 160px;
		position: relative;
	}
	.event-title{
		margin-bottom: 16px;
	}
	.events-block{
		display: flex !important;
		justify-content: space-between;
	}
	.events-element{
		width: 500px;
	}
	.events-img{
		width: 100%;
	}
	.events-content{
		padding: 15px 50px;
		height: 400px;
		border: 1px solid #CACACA;
		border-top: none;
	}
	.events-subtitle{
		font-family: "OpenSansSemiBold";
		font-size: 12px;
		line-height: 16px;
		color: #999;
	}
	.events-title{
		font-family: "OpenSansSemiBold";
		font-size: 24px;
		line-height: 33px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.events-text{
		line-height: 32px;
	}
	.events-link{
		cursor: pointer;
		color: #9D5CD0;
		border-bottom: 1px solid #9D5CD0;
		padding-bottom: 4px;
		position: absolute;
		bottom: 50px;
	}
	.events-slider .slick-prev{
		display: none !important;
	}
	#eventsBtn{
		cursor: pointer;
		position: absolute;
		right: -25px !important;
		bottom: 325px;
	}
	.events-slider768,
	.events-slider320{
		display: none;
	}
/*!------- PROJECTS -------*/
	.projects{
		padding: 0px 160px;
	}
	.projects-title{
		margin-bottom: 16px;
	}
	.projects-text{
		width: 67%;
		margin-bottom: 30px;
	}
	.project-info{
		width: 18px;
		text-align: center;
		display: inline-block;
		background-image: url('/Blanchard/img/round.svg');
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.projects-link{
		color: #9D5CD0;
		cursor: pointer;
	}
	.project-slider{
		margin-bottom: 80px;
	}
	.project-element{
		display: flex;
		justify-content: space-around;
	}
	.project-subtitle{
		font-family: "OpenSansSemiBold";
		font-size: 24px;
		margin-bottom: 23px;
	}
	.project-content{
		width: 450px;
		height: 150px;
		border: 1px solid #CACACA;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
	.project-img{
		filter: grayscale(100%);
		opacity: 0.3;
	}

	#projectLeftBtn{
		position: absolute;
		left: 0px;
		top: 60px;
		z-index: 2;
		cursor: pointer;
	}
	#projectRightBtn{
		position: absolute;
		right: 0px;
		top: 60px;
		cursor: pointer;
	}
	.project-slider1024{
		display: none;
	}
}