@media (max-width: 1920px) {
	body{
		max-width: 1920px;
	}
	/*!----- Меню -----*/
	.menu-tablet{
		display: none;
	}
	.menu{
		background-color: #000;
		font-size: 18px;
		color: #fff;
		display: flex;
		padding: 30px 159px;
	}
	.menu-logo{
		margin-right: 179px;
	}
	.menu-nav{
		display: flex;
		align-items: center;
		
	}
	.menu-nav-list{
		display: flex;
	}
	.menu-nav-item:not(:last-child){
		margin-right: 62px;
	}
	.menu-nav-item:nth-last-child(-n+2){
		margin-right: 0;
	}
	.menu-nav-item:last-child{
		margin-left: 441px;
	}
	.menu-nav-sign::before{
		padding-right: 7px;
		content: url('/Blanchard/img/sign.svg');
	}
	/*!----- ДОП Меню -----*/
	.downmenu{
		width: 100%;
		color: #fff;
		position: absolute;
		font-weight: 400;
		font-size: 18px;
	}
	.downmenu-list{
		display: flex;
		width: 100%;
		padding: 23px 158px 25px 159px !important;
		background-color: rgba(0, 0, 0, 0.4);
	}
	.downmenu-item::after{
		content: url('/Blanchard/img/downmenu_arr.svg');
	}
	.downmenu-item:not(:first-child,:last-child){
		margin-left: 96px;
	}
	.downmenu-item:last-child{
		margin-left: 360px;
	}
	.downmenu-item-last{
		background-image: url('/Blanchard/img/search.svg');
		background-repeat: no-repeat;
		background-size: 25px;
		background-position-y: center;
		padding-left: 30px;
		margin-left: 310px;
	}
	.downmenu-item-input{
		border: none;
		background-color: rgba(0, 0, 0, 0);
		border-bottom: 1px solid rgba(255, 255, 255, 0.85);
		padding-right: 20px;

	}
	.downmenu-item-input::placeholder{
		color: rgba(255, 255, 255, 0.85);
		font-size: 18px;
	}
	/*!------- HERO -------*/
	.hero{
		font-family: 'OpenSansBold';
		color: #fff;
		background-image: url('/Blanchard/img/hero_1920.jpg');
		background-position-y: -90px;
		padding: 0 159px;
	}

	.hero-title{
		width: 36%;
		padding-top: 150px;
		margin-bottom: 20px;
		font-size: 72px;
		line-height: 85px !important;
	}
	.hero-text{
		width: 35%;
		margin-bottom: 92px;
		font-size: 18px;
		line-height: 30px;
	}
	.hero-link{
		padding: 25px 45px;
		border: none;
		border-radius: 100px;
		color: #fff;
		background-color: #9D5CD0;
		margin-bottom: 115px;
	}
/*!------- ABOUT -------*/
	.about{
		padding: 80px 160px;
	}
	.about-title{
		font-size: 48px;
		margin-bottom: 16px;
	}
	.about-text{
		width: 68%;
		line-height: 2em;
	}
/*!------- Gallery -------*/


/*! Checkbox */
	.gallery-left-1chbx,
	.gallery-left-2chbx,
	.gallery-left-3chbx{
		display: flex;
		align-items: center;
	}
	.gallery-custom {
		position: relative;
		width: 12px;
		height: 12px;
		border: 1px solid #fff;
		margin-right: 8px;
	}
	.activ-border{
		border: 1px solid #C283F3;
	}
	.gallery-custom::before {
		content: "";
		position: absolute;
		display: none;
		width: 4px;
		height: 4px;
		background-color: #C283F3;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 100px;
	}
	.gallery-left-1chbx input:checked ~ .gallery-custom::before {
		display: block;
	}
	.gallery-left-2chbx input:checked ~ .gallery-custom::before {
		display: block;
	}
	.gallery-left-3chbx input:checked ~ .gallery-custom::before {
		display: block;
	}
	.gallery-checkbox{
		display: none;
	}
}