@media(max-width: 320px){
	/*!----- Меню -----*/
	.menu-tablet{
		padding: 12px 15px;
	}
	.menu-tablet-burger{
		width: 25px;
		height: 18px;
	}
	.menu-tablet-nav{
		width: 100%;
		height: 100vh;
		top: 45px;
		left: 0px;
		text-align: left;
	}
	.menu-tablet-item{
		margin-left: 15px;
		margin-bottom: 10px;
		margin-right: 0;
		font-size: 14px;
	}
	.menu-tablet-item:last-child{
		margin-left: 15px;
		margin-top: 200px;
		margin-bottom: 30px;
	}
	.menu-tablet-logo{
		width: 97px;
		height: 22px;
	}
	.menu-tablet-find-img{
		width: 18px;
		height: 18px;
	}
	.downmenu{
		display: none;
	}
/*!------- HERO -------*/
	.hero{
		background-image: url('/Blanchard/img/hero_320.jpg');
		background-position-y: center;
		font-size: 18px;
		padding: 0;
		display: flex;
		flex-direction: column;
	}
	.hero-title{
		width: 100%;
		padding: 0;
		padding-top: 30px;
		text-align: center;
		align-items: center;
		font-size: 32px;
		line-height: 44px !important;
	}
	.hero-text{
		font-family: "OpenSansNorm";
		text-align: center;
		font-size: 12px;
		line-height: 16px;
		margin-bottom: 30px;
		width: 100%;
	}
	.hero-link-block{
		text-align: center;
	}
	.hero-link{
		padding: 11px 16px;
		font-size: 12px;
		margin: 0;
		margin-bottom: 45px;
	}
}
