@media(max-width: 320px){
	/*!----- Меню -----*/
	.menu-tablet{
		padding: 12px 15px;
	}
	.menu-tablet-burger{
		width: 25px;
		height: 18px;
	}
	.menu-tablet-nav{
		width: 100%;
		height: 100vh;
		top: 45px;
		left: 0px;
		text-align: left;
	}
	.menu-tablet-item{
		margin-left: 15px;
		margin-bottom: 10px;
		margin-right: 0;
		font-size: 14px;
	}
	.menu-tablet-item:last-child{
		margin-left: 15px;
		margin-top: 200px;
		margin-bottom: 30px;
	}
	.menu-tablet-logo{
		width: 97px;
		height: 22px;
	}
	.menu-tablet-find-img{
		width: 18px;
		height: 18px;
	}
	.downmenu{
		display: none;
	}
/*!------- HERO -------*/
	.hero{
		background-image: url('/Blanchard/img/hero_320.jpg');
		background-position-y: center;
		font-size: 18px;
		padding: 0;
		display: flex;
		flex-direction: column;
	}
	.hero-title{
		width: 100%;
		padding: 0;
		padding-top: 30px;
		text-align: center;
		align-items: center;
		font-size: 32px;
		line-height: 44px !important;
	}
	.hero-text{
		font-family: "OpenSansNorm";
		text-align: center;
		font-size: 12px;
		line-height: 16px;
		margin-bottom: 30px;
		width: 100%;
	}
	.hero-link-block{
		text-align: center;
	}
	.hero-link{
		padding: 11px 16px;
		font-size: 12px;
		margin: 0;
		margin-bottom: 45px;
	}
/*!------- ABOUT -------*/
	.about{
		padding: 50px 15px;
	}
	.about-title{
		font-size: 28px;
		margin-bottom: 12px;
		line-height: 38px;
	}
	.about-text{
		width: 90%;
		font-size: 12px;
		line-height: 2em;
	}
/*!------ GALLERY ------*/
	.gallery{
		padding: 50px 15px;
	}
	.gallery-title{
		font-size: 38px;
	}
	.gallery-left-select{
		margin-right: 0;
		margin-bottom: 35px;
	}
	.gallery-slider320-number{
		display: block;
		margin-top: 20px;
		text-align: center;
	}
	.slider .slick-arrow.slick-prev{
		top: 317px;
		left: 80px;
	}
	.slider .slick-arrow.slick-next{
		top: 317px;
		left: 180px;
	}
	.gallery-slider,
	.gallery-slider1024,
	.gallery-slider-number,
	.gallery-slider1024-number{
		display: none;
	}
	.gallery-slider320,
	.gallery-slider320-number{
		display: block;
	}
/*!------ CATALOG ------*/
	.catalog{
		padding: 50px 15px;
	}
	.catalog-title{
		font-size: 28px;
	}
	.catalog-text{
		display: none;
	}
	.accordion-button{
		padding: 20px 0px;
	}
	.accordion-body-block{
		display: flex;
		flex-direction: column;
	}
	.catalog-left-text{
		font-size: 12px;
		line-height: 32px;
	}
/*!------ EVENTS ------*/
	.events{
		padding: 50px 15px;
	}
	.events-slider,
	.events-slider768{
		display: none;
	}
	.events-slider320{
		display: block;
	}
	.event-title{
		font-size: 24px;
		margin-bottom: 12px;
	}
	.events-element{
		width: 100%;
		height: 653px;
	}
	.slick-next::before{
		display: none;
	}
	.events-link{
		bottom: 30px;
	}
	.events-block{
		border-bottom: 1px solid rgb(202, 202, 202);
	}
}
