@media(max-width: 768px) {
	/*!----- Меню -----*/
	.menu-tablet-nav{
		width: 50%;
	}
	.downmenu{
		display: none;
	}
    

/*!------- HERO -------*/
	.hero{
		background-image: url('/Blanchard/img/hero_768.jpg');
		font-size: 18px;
		padding: 0 50px;
	}
	.hero-title{
		width: 85%;
	}
	.hero-text{
		width: 100%;
	}
/*!------- ABOUT -------*/
/** no */
/*!------ GALLERY ------*/
	.gallery-items{
		display: block;
	}
	.gallery{
		background-image: url(/Blanchard/img/gallery_768.jpg);
	}
	.gallery-left-select{
		margin-bottom: 45px;
	}
	.gallery-left-chblock{
		margin-bottom: 100px;
	}
	.gallery-slider1024{
		width: 668px !important;
	}
	.gallery-slider1024-img{
		width: 315px !important;
	}
/*!------ CATALOG ------*/
	.catalog-sides{
		display: flex;
		flex-direction: column-reverse;
	}
	.catalog-right{
		width: 100%;
	}
	.accordion1024-body-list{
		display: none;
	}
	.accordion-body-list{
		display: block;
	}
	.accordion-body-list{
		margin: 0px !important;
	}
	.accordion-body-block{
		display: flex;
		justify-content: space-between;
	}
	.catalog-left{
		margin: 0px;
		width: 100%;
	}
	.catalog-left-text{
		width: 100%;
	}
/*!------ EVENTS ------*/
	.events-slider{
		display: none;
	}
	.events-slider768{
		display: block;
	}
	.slick-prev::before{
		display: none;
	}
	.events-element{
		width: 317px;
	}
/*!----- PROJECTS -----*/
	.project-img{
		width: 100%;
		padding: 25%;
	}
	.project-content{
		width: 264px;
		height: 106px;
	}
/*!------- CONTACTS -------*/
	.contacts-input{
		margin-bottom: 10px;
	}
}
