@media (max-width: 1920px) {
	body{
		max-width: 1920px;
	}
	.menu-tablet{
		display: none;
	}
	.menu{
		background-color: #000;
		color: #fff;
		font-size: 18px;
		display: flex;
		padding: 30px 159px;
	}
	.menu-logo{
		margin-right: 179px;
	}
	.menu-nav{
		display: flex;
		align-items: center;
		
	}
	.menu-nav-list{
		display: flex;
	}
	.menu-nav-item:not(:last-child){
		margin-right: 62px;
	}
	.menu-nav-item:nth-last-child(-n+2){
		margin-right: 0;
	}
	.menu-nav-item:last-child{
		margin-left: 441px;
	}
	.menu-nav-sign::before{
		padding-right: 7px;
		content: url('./img/sign.svg');
	}
}
@media(max-width: 1024px){
	body{
		max-width: 1024px;
	}
	.menu{
		display: none;
	}
	.menu-tablet{
		display: flex;
		position: relative;
		background-color: #000;
		justify-content: space-between;
		padding: 29px 50px;
	}
	.menu-tablet-burger{
		width: 36px;
	}
	
	.menu-tablet-nav{
		width: 25%;
		top: 100px;
		left: 0;
		position: absolute;
		color: #fff;
		transition: 1000ms;
		background-color: rgba(0, 0, 0, 0.8);
		opacity: 0;
		visibility: hidden;
	}

	.visible{
		opacity: 1;
		visibility: visible;
	}
	.menu-tablet-list{}
	.menu-tablet-item:first-child{
		margin-top: 15px;
	}
	.menu-tablet-item{
		margin-left: 50px;
		margin-bottom: 50px;
		font-size: 20px;
	}
	.menu-tablet-link{
		padding-bottom: 3px;
	}
	.menu-tablet-link:hover{
		border-bottom: 2px solid #9D5CD0;
		transition: 400ms;
	}
	.menu-tablet-logo{
		width: 188px;
		height: 42px;
	}
	.menu-tablet-logo-img{}
	.menu-tablet-find{}
	.menu-tablet-find-img{}
}
@media(max-width: 720px) {
	.menu-tablet-nav{
		width: 40%;
	}
}
@media(max-width: 320px){
	.menu-tablet{
		padding: 12px 15px;
	}
	.menu-tablet-burger{
		width: 25px;
		height: 18px;
	}
	.menu-tablet-nav{
		width: 100%;
		top: 45px;
		left: 0px;
		text-align: left;
	}
	.menu-tablet-item{
		margin-left: 15px;
		margin-bottom: 10px;
		margin-right: 0;
		font-size: 14px;
	}
	.menu-tablet-item:last-child{
		margin-left: 15px;
		margin-top: 200px;
		margin-bottom: 30px;
	}
	.menu-nav-sign{
		padding: 11px 31px;
		border: 2px solid #9D5CD0;
		border-radius: 100px;
	}
	.menu-tablet-logo{
		width: 97px;
		height: 22px;
	}
	.menu-tablet-find-img{
		width: 18px;
		height: 18px;
	}
}
/*! Конец 1920--------- */